body {
    background: url('/img/everest-background.jpg') no-repeat center center fixed; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    max-width: 400px;
    width: 100%;
}

label, input, select, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    font-size: 16px; /* Размер шрифта можно настроить по вашему вкусу */
}

input[type="submit"] {
    background: #4285F4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background: #3367D6;
}

.logo-small {
    margin-bottom: 0px;
}
